{
  "hooks": {
    "pre-commit": "yarn test",
    "pre-push": "concurrently --kill-others-on-fail \"yarn test\"",
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
    "post-merge": "yarnhook",
    "post-rewrite": "yarnhook"
  }
}
