@keyframes start {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes end {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.start-animation {
  animation-name: start;
  animation-duration: 510ms;
  animation-timing-function: ease-in-out;
}

.end-animation {
  animation-name: end;
  animation-duration: 510ms;
  animation-timing-function: ease-in-out;
}
